<div class="alert alert-info">
    <i class="icon icon-info-sign"></i> Use your iPlant credentials to obtain a token.
</div>
<form method="post">
    <fieldset>
        <label for="username">Username</label>
        <input type="text" placeholder="Username" name="username" id="username" value="{{username}}">
    </fieldset>
    <fieldset>
        <label for="password">Password</label>
        <input type="password" placeholder="Password" name="password" id="password">
    </fieldset>
    <input type="submit" value="Get Token" class="btn btn-success">
</form>