<form class="renew-form">
  <p>Please enter your iPlant password to renew your token.</p>
  <fieldset>
    <label for="password">Password</label>
    <input id="password" name="password" type="password" placeholder="Password">
  </fieldset>
  <button class="btn btn-primary" type="submit">Renew token</button>
  <button class="btn btn-cancel">Cancel</button>
</form>
