@import 'settings';
@import 'compass/css3';

html {
  background-color: lighten($lightGrey, 15%);
}

body {
  background-color: $white;
}

.sidebar {
  background-color: #fcfcfc;
  > div {
    border: 1px solid #ccc;
    @include border-radius;
  }

  li {
    a {
      border-bottom: 1px solid #ccc;
    }
    &:first-child {
      a {
        @include border-radius(4px 4px 0 0);
      }
    }
    &:last-child {
      a {
        border-bottom: none;
        @include border-radius(0 0 4px 4px);
      }
    }
  }
}

.navigation {

}

.dropdown-toggle {
    cursor: pointer;
}

.navbar-fixed-top {
    margin-bottom: 0;
}

.header {
    color: white;
    padding: .5em 0;
    margin: 0 0 1em;
    position: relative;
    @include background-image(linear-gradient(top, lighten($green, 3%), $green, darken($green, 2%)));
    // @include box-shadow(0 0 12px grey);

    a {
        color: $white;
        &:hover {
            color: lighten($green, 20%);
        }
    }

    h1 {
        margin-top: 0;

        a:hover {
            color: inherit;
        }

        small {
            color: darken($white, 20%);
        }
    }
}

.logo {
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}

.footer {
    margin: 1em 0 0;
    border-top: 1px solid $lightGrey;
    background-color: lighten($lightGrey, 15%);
}

.footer-inner {
    padding: 1em 0;
}

@media (min-width: 980px) {
    body {
        padding-top: 40px;
    }
}

@media (max-width: 767px) {
    .header {
        margin: 0 -20px 1em;
        padding: .5em 20px;
    }

    .footer {
        margin: 1em -20px 0;
        padding: .5em 20px;
    }
}