<h1>
  IO <small>Browse your files in the iPlant Datastore</small>
</h1>
{{#path}}
<h4>
  Viewing: {{#parts}}/<a href="#io{{url}}">{{name}}</a>{{/parts}}
  <span class="actions pull-right"></span></h4>
{{/path}}
<div class="io-files"></div>
