<a href="#io{{path}}" class="io-name pull-left">
  <i class="icon icon-{{type}}{{previous}}"></i> {{name}}
</a>
<span class="io-last-modified">last modified: {{lastModified}}</span>
<div class="io-actions btn-group pull-right">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" data-bypass="true">
    Actions <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a><i class="icon icon-spinner icon-spin"></i> Loading...</a></li>
  </ul>
</div>