<fieldset>
<input type="file" name="fileToUpload" placeholder="Choose file to upload" />
</fieldset>
<button class="btn btn-primary btn-upload">Upload file</button>
<button class="btn btn-cancel">Cancel</button>