<div class="container">
    <div class="header-inner">
        <div class="row">
            <div class="span8">
                <h1>
                    <a class="logo" href="">iPlant Foundation API
                        <br><small>Empowering a new Plant Biology</small>
                    </a>
                </h1>
            </div>
            <div class="span4 login-state"></div>
        </div>
    </div>
</div>