<div class="container">
  <div class="row">
    <div class="span6">
      <h2>Auth</h2>
      <ul class="nav nav-pills nav-stacked">
      {{#if loggedIn}}
        <li><a href="#auth/logout">Log out</a></li>
        <li><a href="#auth/active">List My Active Tokens</a></li>
      {{else}}
        <li><a href="#auth/login">Log in</a></li>
      {{/if}}
      </ul>
    </div>

    <div class="span6">
      <h2>Apps</h2>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#apps/public">Public Applications</a></li>
        {{#if loggedIn}}
          <li><a href="#apps/shared">Applications Shared with Me</a></li>
        {{/if}}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <h2>IO</h2>
      {{#if loggedIn}}
      <ul class="nav nav-pills nav-stacked">
          <li><a href="#io">Browse My Files</a></li>
      </ul>
      {{else}}
        <div class="alert alert-info">
          Log in to browse and manage your files
        </div>
      {{/if}}
    </div>

    <div class="span6">
      <h2>Profile</h2>
      {{#if loggedIn}}
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#profile">View My Profile</a></li>
        <li><a href="#profile/search">Search Users</a></li>
      </ul>
      {{else}}
        <div class="alert alert-info">
          Log in to view your profile and search users
        </div>
      {{/if}}
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <h2>Post-It</h2>
      {{#if loggedIn}}
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#postit">View My Post-Its</a></li>
        <li><a href="#postit/create">Create a Post-It</a></li>
      </ul>
      {{else}}
        <div class="alert alert-info">
          Log in create and manage Post-Its
        </div>
      {{/if}}
    </div>
  </div>
</div>