<div class="navbar-inner">
  <div class="container">
    <a class="brand" href="">Home</a>
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <div class="nav-collapse collapse">
      <ul class="nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              Auth
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#auth/login">Log in</a></li>
              <li><a href="#auth/active">Active tokens</a></li>
              <li><a href="#auth/logout">Log out</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              Apps
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#apps/public">Public applications</a></li>
              <li><a href="#apps/shared">Applications shared with me</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              I/O
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#io">Browse files</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              Data
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#data">Test</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              Profile
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#profile">My Profile</a></li>
              <li><a href="#profile/search">Search Users</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              Post it
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#postit">Current PostIts</a></li>
              <li><a href="#postit/create">Create New PostIt</a></li>
            </ul>
          </li>
      </ul>
    </div>
  </div>
</div>